<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekym.care4u">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Care4U">
        <activity
            android:name=".Self_Assessment_Result"
            android:exported="false" />
        <activity
            android:name=".Result_Safe"
            android:exported="false" />
        <activity
            android:name=".Self_Assessment"
            android:exported="false" />
        <activity
            android:name=".Live_Covid_Cases"
            android:exported="false" />
        <activity
            android:name=".Login_Page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vaccine_Details"
            android:exported="false" />
        <activity
            android:name=".User_Details"
            android:exported="false" />
        <activity
            android:name=".Vaccine_Slot"
            android:exported="false" />
        <activity
            android:name=".ScanQR"
            android:exported="false" />
        <activity
            android:name=".GenQR"
            android:exported="false" />
        <activity
            android:name=".Safety_Tips"
            android:exported="false" />
        <activity
            android:name=".OBS"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>